@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: conduit;
    src: url(Conduit.ttf);
}
body { font-family: conduit; }

#startWash {
	position: absolute;
	top: 448px;
	left: 1562px;
	height: 147px;
	width: 318px;
}
#runLaterButton {
	position: absolute;
	top: 626px;
	left: 1560px;
	height: 147px;
	width: 318px;
}

#runLaterBox {
	position: absolute;
	top: 343px;
	left: 639px;
	color: white;
	background: rgba(51, 51, 51, 0.99);
	border: solid #333333 2px;	
	border-radius: 5px;
	height: 400px;
	width: 640px;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#runLaterBox p, a {
	position: absolute;
	left: 30px;
	font-size: 35px;
}
#runLaterTimer {
	position: absolute;
	top: 35px;
	left: 285px;
	height: 100px;
	width: 200px;
	font-size: 35px;
}
.button {
	text-decoration:none;
	background: rgba(0, 0, 0, 0.3);	
	border-radius: 1px;
	color: white;
	font-size: 25px;
	width: 170px;
	padding-left: 10px;
	padding-right: 10px;
}
.button:visited, .button:hover, .button:focus, .button:hover, .button:active { color:white; }

#add120 { top: 85px; }
#add60 { top: 125px; }
#sub120 { top: 165px; }
#sub60 { top: 205px; }

.laterButton {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 1px;
	padding-left: 10px;
	height: 45px;
	
}
#runLaterBack, #runLaterStart {
	top: 340px;
	z-index: 20;
}
#runLaterBack {
	left: 30px;
	width: 85px;
}
#runLaterStart {
	left: 450px;
	width: 155px;	
}
#duration {
	font-size: 38px;
	color: white;
	position: absolute;
	top: 340px;
	left: 1576px;
	width: 291px;
	height: 72px;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#consumptionbar {
	width: 110px;
	height: 670px;
	position: absolute;
	top: 255px;
	left: 1402px;
	background: rgba(51, 51, 51, 0.8);

}

#consumptioncontent {
	position: absolute;
	bottom: 0;
	width: 100%;
}
#consumptioncontent img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#energy {
	background: #b20000;
	border-radius: 2px;
	position: relative;
}
#water {
	background: #0036b3;
	border-radius: 2px;
	position: relative;
}


img
{
	position: absolute;
	top: 0px;
	left: 0px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.layer1
{
	z-index: 1;
}
.layer2
{
	z-index: 2;
}
.layer3
{
	z-index: 3;
}
.layer4
{
	z-index: 4;
}
.layer5 {
	z-index: 5;
}
#wrapper{
    position:relative;
    z-index:5;
}
#largeload{
	position: absolute;
	width: 129px;
	height: 129px;
	top: 309px;
	left: 97px;
}
#mediumload{
	position: absolute;
	width: 98px;
	height: 99px;
	top: 540px;
	left: 113px;
}
#smallload{
	position: absolute;
	width: 98px;
	height: 99px;
	top: 753px;
	left: 113px;
}

#hightemp{
	position: absolute;
	width: 130px;
	height: 129px;
	top: 309px;
	left: 454px;
}
#mediumtemp{
	position: absolute;
	width: 99px;
	height: 97px;
	top: 541px;
	left: 471px;
}

#lowtemp{
	position: absolute;
	width: 97px;
	height: 100px;
	top: 753px;
	left: 472px;
}

#hardwash{
	position: absolute;
	width: 129px;
	height: 129px;
	top: 309px;
	left: 810px;
}
#mediumwash{
	position: absolute;
	width: 98px;
	height: 98px;
	top: 541px;
	left: 825px;
}
#lightwash{
	position: absolute;
	width: 98px;
	height: 98px;
	top: 754px;
	left: 825px;
}
#hotdry{
	position: absolute;
	width: 132px;
	height: 132px;
	top: 308px;
	left: 1161px;
}
#colddry{
	position: absolute;
	width: 99px;
	height: 101px;
	top: 536px;
	left: 1178px;
}
#nodry{
	position: absolute;
	width: 97px;
	height: 100px;
	top: 753px;
	left: 1181px;
}
